body {
  /* padding: 10px; */
  /* margin: auto; */
  /* text-align: center; */
  overflow: hidden;
  font-family: 'Playfair Display', serif;
  width: 100%;
  background-image: url("../images/image-from-rawpixel-id-513797-jpeg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/******************** TEXT STYLING **********************/

h1 {
  font-weight: 10px;
  text-align: center;
  color: #444343;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  padding-top: 40px;
}

#section1 {
  background-color: #f5f1f1e1;
  opacity: 0.8;
  height: 470px;
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  margin: auto;
  /* border-radius: 15px 15px 15px 15px; */
  box-shadow: inset 0 0 10px 0px;
  width: 1100px;
}


#instructions {
  /* border: 1px solid gold; */
  padding: 0px 20px;
  text-align: center;
  /* width: 200px; */
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
}

/* #paragraph {
  width: 105px;
  margin: auto;
} */

#instructions.about {
  border: none;
  width: 300px;
  text-align: center
}

#instructions.topscore {
  border: none;
  align-items: center;
  padding: 0;
}

.topscore h3 {
  font-weight: bold;
  padding: 0 0 40px 0;
}

table {
  /* border: 1px solid grey; */
  padding: 10px 50px;
}

table td {
  padding: 20px 60px;
}

table th {
  font-weight: bold;
  border-bottom: 1px solid black;
  
}

#instructions.contact {
  border: none;
}

#influencers {
  text-align: center;
  width: 500px;
  padding: 30px 0 5px 0;
}

#influencers h5 {
  font-weight: 800px;
}

.apply {
  padding: 5px 10px;
  background-color: none;
  border: 1px solid;
  color: rgb(77, 74, 74);
}

#scoreList {
  text-align: center;
  list-style: none;
}

#game-board {
  background-image: url('../images/UxifQL.png');
  background-size: cover;
  /* float: right; */
  border: 1px solid black;
  /* padding: 20px 20px; */
  background-color: black;
  /* width: 100px; */
}

.nav-bar {
  background-color: #f5f1f1e1;
  padding: 8px 0;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
}

#title {
  display: flex;
  float: left;
  font-size: 20px;
  font-weight: bold;
  /* line-height: 5px; */
  /* padding: 0; */
}

.nav-bar a:hover {
  color: #afacace1;
}

.nav-bar a {
  color: black;
  text-decoration: none;
  font-size: 12px;
  padding: 0 20px;
}

.nav-bar-ul {
  /* width: 1200px; */
  margin: 0 0 auto auto;
  display: flex;
  justify-content: space-evenly;
  float: right;
}

.nav-bar-ul li {
  list-style-type: none;
  text-align: center;
}

/* li a:hover {
  background-color: #cec8c8;
} */

h4 {
  font-size: 30px;
}

.try-again {
  padding: 5px 10px;
  background-color:  rgb(216, 213, 213);;
  border: 1px solid;
  color: rgb(77, 74, 74);
}

#reset {
  padding: 5px 10px;
  /* background-color:  rgb(216, 213, 213);; */
  border: 1px solid;
  color: rgb(77, 74, 74);
}
